{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "node": true,
    "browser": true
  },
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  }
}
